.idea/
**/target
**/.DS_Store
**/node_modules
**/*.node
**/dist
wrappers/ios/vcx/vcx.framework/**
wrappers/ios/vcx/vcx.framework.dSYM/**
wrappers/ios_legacy/vcx/vcx.framework/**
wrappers/ios_legacy/vcx/vcx.framework.dSYM/**
.vscode
**/tails.txt

**/uniffi_aries_vcx/**/jniLibs/**
**/uniffi_aries_vcx/**/headers/**
**/uniffi_aries_vcx/**/kotlin/**
**/uniffi_aries_vcx/**/swift/**
**/uniffi_aries_vcx/**/*.xcframework/**
